<h5>Vertical Align</h5>
<div class="valign-wrapper">
  <h5 class="valign">This should be vertically aligned</h5>
</div>

<h5>Text Align</h5>
<div>
  <h5 class="left-align">This should be left aligned</h5>
</div>
<div>
  <h5 class="right-align">This should be right aligned</h5>
</div>
<div>
  <h5 class="center-align">This should be center aligned</h5>
</div>

<h5>Quick Floats</h5>
<div class="left">...</div>
<div class="right">...</div>

<h5>Hiding Content</h5>
<div class="hide-on-small-only"></div>