<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo"><i class="material-icons">menu</i>ng2-cms</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a class="dropdown-button" materialize="dropdown" data-activates='dropdownUser' data-gutter='10'>
          <i class="material-icons right">more_vert</i>
          <img src="assets/images/user.jpg" alt="" class="circle v-m" width="30"> {{ authService.username }}
        </a>

        <ul id='dropdownUser' class='dropdown-content'>
          <li>
            <a [routerLink]="['/change_password']">
              <i class="material-icons left">settings_applications</i> Đổi mật khẩu
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a [routerLink]="['/login']">
              <i class="material-icons left">exit_to_app</i> Thoát
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- Router Outlet -->
<router-outlet></router-outlet>