<div class="card">
  <!--<div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="images/office.jpg">
  </div>-->
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">CSS</span>

    <p>
      <a [routerLink]="['/css/color']" class="waves-effect waves-light btn">Color</a>
      <a [routerLink]="['/css/grid']" class="waves-effect waves-light btn">Grid</a>
      <a [routerLink]="['/css/helpers']" class="waves-effect waves-light btn">Helper</a>
    </p>

    <!-- Router Outlet -->
    <router-outlet></router-outlet>

  </div>
</div>