<div class="login-wrapper">
  <h5 class="center">Đăng nhập hệ thống</h5>
  <div class="card-panel hoverable">

    <app-form-error [formBase]="loginForm"></app-form-error>

    <form [formGroup]="loginForm.form" (ngSubmit)="login(loginForm.form.value)" novalidate>
      <div class="row">
        <div class="input-field col s12 error">
          <input id="username" type="text" formControlName="username" class="validate" [ngClass]="{'invalid': loginForm.isError('username')}">
          <label for="username">Tài khoản hoặc Email <span class="red-text">*</span></label>
          <app-validate-error [formBase]="loginForm" [field]="'username'" [error]="'required'" [message]="'Cần nhập tài khoản hoặc Email'"></app-validate-error>
          <app-field-error [formBase]="loginForm" [field]="'username'"></app-field-error>
        </div>
        <div class="input-field col s12">
          <input id="password" type="password" formControlName="password" class="validate" autocomplete="new-password" [ngClass]="{'invalid': loginForm.isError('password')}">
          <label for="password">Mật khẩu <span class="red-text">*</span></label>
          <app-validate-error [formBase]="loginForm" [field]="'password'" [error]="'required'" [message]="'Cần nhập mật khẩu'"></app-validate-error>
          <app-field-error [formBase]="loginForm" [field]="'password'"></app-field-error>
        </div>
        <div class="col s12 p-b-15 center-align">
          <input type="checkbox" class="filled-in" id="filled-in-box" name="remember" formControlName="remember"/>
          <label for="filled-in-box">Ghi nhớ đăng nhập</label>
        </div>
        <div class="col s12 p-b-15 center-align">
          <button class="btn waves-effect waves-light" type="submit" [disabled]="!loginForm.form.valid || loading">
            <i class="material-icons left">lock_outline</i>
            Đăng nhập
          </button>
        </div>
      </div>
    </form>
  </div>
</div>