<div class="login-wrapper">
  <h5 class="center">Đăng nhập hệ thống</h5>
  <div class="card-panel hoverable">
    <div class="card-panel red darken-3 white-text center-align" *ngIf="error && f.form.valid">{{error}}</div>
    <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="row">
        <div class="input-field col s12 error">
          <input id="last_name" type="text" class="validate" [ngClass]="{ 'invalid': f.submitted && !username.valid }" name="username" [(ngModel)]="model.username" #username="ngModel" autocomplete="off" required [disabled]="loading">
          <label for="last_name">Tài khoản hoặc Email</label>
          <div class="helper-block error" *ngIf="f.submitted && !username.valid">Cần nhập tài khoản hoặc Email</div>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="password" class="validate" [ngClass]="{ 'invalid': f.submitted && !password.valid }" name="password" [(ngModel)]="model.password" #password="ngModel" autocomplete="new-password" required [disabled]="loading">
          <label for="last_name">Mật khẩu</label>
          <div class="helper-block error" *ngIf="f.submitted && !password.valid">Cần nhập mật khẩu</div>
        </div>
        <div class="col s12 p-b-15 center-align">
          <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" name="remember" [(ngModel)]="model.remember" #remember="ngModel" [disabled]="loading"/>
          <label for="filled-in-box">Ghi nhớ đăng nhập</label>
        </div>
        <div class="col s12 p-b-15 center-align">
          <button class="btn waves-effect waves-light" type="submit" [disabled]="loading">
            <i class="material-icons left">lock_outline</i>
            Đăng nhập
          </button>
        </div>
      </div>
    </form>
  </div>
</div>