<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Thay đổi mật khẩu</span>

        <form [formGroup]="form" (ngSubmit)="changePassword(form.value)" novalidate>
          <div class="row">
            <div class="input-field col s12">
              <input id="oldPassword" type="password" formControlName="oldPassword" class="validate" [ngClass]="{'invalid': isError('oldPassword')}">
              <label for="oldPassword">Mật khẩu cũ <span class="red-text">*</span></label>
              <div class="list-errors" *ngIf="isError('oldPassword')">
                <div class="helper-block error" [hidden]="!hasErrorWith('oldPassword', 'required')">Cần nhập mật khẩu cũ</div>
              </div>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" formControlName="password" class="validate" [ngClass]="{'invalid': isError('password')}">
              <label for="password">Mật khẩu cũ <span class="red-text">*</span></label>
              <div class="list-errors" *ngIf="isError('password')">
                <div class="helper-block error" [hidden]="!hasErrorWith('password', 'required')">Cần nhập mật khẩu mới</div>
                <div class="helper-block error" [hidden]="!hasErrorWith('password', 'minlength')">Mật khẩu tối thiểu có 6 ký tự</div>
              </div>
            </div>
            <div class="input-field col s12">
              <input id="confirmPassword" type="password" formControlName="confirmPassword" class="validate" [ngClass]="{'invalid': isError('confirmPassword')}">
              <label for="confirmPassword">Nhập lại <span class="red-text">*</span></label>
              <div class="list-errors" *ngIf="isError('confirmPassword')">
                <div class="helper-block error" [hidden]="!hasErrorWith('confirmPassword', 'required')">Cần nhập lại mật khẩu</div>
                <div class="helper-block error" [hidden]="!hasErrorWith('confirmPassword', 'passwordmatch')">Nhập không chính xác mật khẩu</div>
              </div>
            </div>
          </div>

          <div class="row footer-box right-align">
            <button class="btn waves-effect waves-light" type="submit" [disabled]="!form.valid || loading">
                <i class="material-icons left">done</i>
                Cập nhật
                </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>